<!DOCTYPE html>
<html>
  <head>
    <title>Pacientes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <main class="container">
      <h1>Pacientes</h1>
      <hr />
      <section class="mt-3">
        <h3>Pacientes cadastrados</h3>
        <nav class="m-auto">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="?">Todos</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=a">A</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=b">B</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=c">C</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=d">D</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=e">E</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=f">F</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=g">G</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=h">H</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=i">I</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=j">J</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=k">K</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=l">L</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=m">M</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=n">N</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=p">P</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=q">Q</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=r">R</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=s">S</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=t">T</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=u">U</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=v">V</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=x">X</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=y">Y</a></li>
            <li class="page-item"><a class="page-link" href="?initialLetter=z">Z</a></li>
          </ul>
        </nav>
        <div>
          <h3>Sumário</h3>
          <p id="total-patients">Total de pacientes:</p>
          <p id="man-count">Homens: </p>
          <p id="woman-count">Mulheres: </p>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Documento</th>
              <th scope="col">Dt. Nascimento</th>
              <th scope="col">Genero</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% patients.forEach(function(patient) { %>
            <tr>
              <th scope="row"><%- patient.id %></th>
              <td><%- patient.name %></td>
              <td><%- patient.document %></td>
              <td><%- patient.birth_date %></td>
              <td class="gender"><%- patient.gender %></td>
              <td>
                <div class="row">
                  <div class="col-md-3">
                    <a
                      role="button"
                      href="/patient/edit/<%-patient.id%>"
                      class="btn btn-warning"
                    >
                      Editar
                    </a>
                  </div>
                  <div class="col-md-3">
                    <form method="POST" action="/patient?_method=DELETE">
                      <input
                        type="text"
                        hidden
                        name="id"
                        value="<%-patient.id%>"
                      />
                      <button type="submit" class="btn btn-danger">
                        Excluir
                      </button>
                    </form>
                  </div>
                </div>
              </td>
            </tr>
            <% });%>
          </tbody>
        </table>
      </section>
      <section class="mt-3">
        <h3>Cadastro novo paciente</h3>

 

        <form id="register-patient" action="" method="post">
          <div class="alert-danger d-none">
            O seguinte campo é obrigatório:
            <ul>
              <li class="d-none" id="invalid-name">Nome</li>
              <li class="d-none" id="invalid-birth-date">Dt. Nascimento</li>
              <li class="d-none" id="invalid-document">Documento</li>
              <li class="d-none" id="invalid-gender">Genero</li>
            </ul>
          </div>


          <div class="row">
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12">
                  <label for="name" class="form-label">Nome</label>
                  <input
                    class="form-control"
                    type="text"
                    id="name"
                    name="name"
                    required
                  />
                </div>
                <div class="col-md-12">
                  <label for="document" class="form-label"
                    >Data de nascimento</label
                  >
                  <input
                    class="form-control"
                    type="date"
                    id="birth_date"
                    name="birth_date"
                    required
                  />
                </div>
                <div class="col-md-12">
                  <label for="document" class="form-label">Documento</label>
                  <input
                    class="form-control"
                    type="text"
                    id="document"
                    name="document"
                    required
                  />
                </div>
                <div class="col-md-12">
                  <label for="gender" class="form-label">Genero</label>
                  <input
                    class="form-control"
                    type="text"
                    id="gender"
                    name="gender"
                    maxlength="1"
                    required
                  />
                </div>
                <div class="mt-1 d-flex justify-content-end">
                  <button type="reset" class="btn btn-default">Cancelar</button>
                  <button type="submit" class="btn btn-primary">
                    Cadastrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </section>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/patient.js"></script>
  </body>
</html>
